@using System.Configuration
@model GameStore_Web.Models.Catalogo.MVReporte
@{
    ViewBag.Title = "DetallesJuego";
}



<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-head">
                    <div class="panel-title">
                        <i class="icon-screen-config"></i><span class="panel-title-text">Detalle de Juego</span>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("GuardarJuego", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", @id = "formGuardaEstatus" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Detalles.idJuego);

                        <div class="row divDetalles">
                            <div class="col-sm-9">
                                <label for="nombre">Título:</label>
                                <p>@Html.TextAreaFor(model => model.Detalles.Titulo, new { @class = "inpt-ex letrasNumeros Titulo", })</p>
                            </div>
                            <div class="col-sm-9">
                                <label for="nombre">Descripcion:</label>
                                <p>@Html.TextAreaFor(model => model.Detalles.Descripcion, new { @class = "inpt-ex letrasNumeros descripcion", })</p>
                            </div>
                            <div class="col-sm-9">
                                <label for="nombre">Año de publicacion:</label>
                                <p>@Html.TextAreaFor(model => model.Detalles.AnioPublicacion, new { @class = "inpt-ex Numeros Titulo", })</p>
                                <label for="nombre">Calificacion:</label>
                                <p>@Html.TextAreaFor(model => model.Detalles.Calificacion, new { @class = "inpt-ex Numeros Titulo", })</p>
                            </div>
                            @if (!string.IsNullOrEmpty(ViewBag.Titulo))
                            {
                                <div class="col-sm-9">
                                    <label for="nombre">Consolas:</label>
                                    <p>
                                        @Html.TextBoxFor(model => model.Detalles.Consolas, new { @class = "inpt-ex letrasNumeros Titulo", disabled = "disabled" })
                                    </p>
                                    <label for="nombre">Genero:</label>
                                    <p>
                                        @Html.TextBoxFor(model => model.Detalles.Genero, new { @class = "inpt-ex letrasNumeros Titulo", disabled = "disabled" })
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-9">
                                    <p>
                                        <label for="pais">Consolas:</label>
                                        @Html.DropDownListFor(model => model.Detalles.idConsola, new SelectList(ViewBag.filtroConsola, "Id", "Descripcion"), "Todos", new { @class = "select-ex" })
                                        @Html.ValidationMessageFor(model => model.Detalles.Consolas, "", new { @class = "text-danger" })
                                    </p>
                                    <p>
                                        <label for="pais">Genero:</label>
                                        @Html.DropDownListFor(model => model.Detalles.idGenero, new SelectList(ViewBag.filtroGenero, "Id", "Descripcion"), "Todos", new { @class = "select-ex" })
                                        @Html.ValidationMessageFor(model => model.Detalles.Genero, "", new { @class = "text-danger" })
                                    </p>
                                </div>


                            }



                            <div class="col-xs-12 col-sm-6 mt-10">
                                <button type="submit" class="btn-perf" id="btnCambiarEstatus">Guardar</button>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
